/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Raleway:wght@700&display=swap');

*,
*::before,
*::after {
  margin: 0;
}

main {  
  &:first-child {
    color: #333;
    text-align: center;
    font-size: 2.25rem;
    font-family: 'Raleway', sans-serif;
    letter-spacing: -0.10125rem;
    margin-top: 2rem;
  }
}

.filters {
  margin-top: 3.62rem;
  display: flex;
  width: 38rem;
  justify-content: space-around;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding-bottom: 1.19rem;

  &::before {
    content: '';
    width: 38rem;
    height: 0.0625rem;
    background: #BDBDBD;
    bottom: 0;
    position: absolute;
  }

  & button {
    border: none;
    background-color: white;
    color: #333;
    font-size: 0.875rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    position: relative;
  }

  & button::before {
    content: '';
    position: absolute;
    height: 0.25rem;
    border-radius: 4px 4px 0px 0px;
    background: #2F80ED;
    bottom: -19px;
    left: 0;
    right: 0;
    opacity: 0;
  }

  & button:hover::before {
    opacity: 1;
  }
}

.input {
  display: flex;  
  justify-content: center;
  margin-top: 1.12rem;

  & input {
    width: 29rem;
    height: 3.5rem;
    border-radius: 12px;
    border: 1px solid #BDBDBD;
    margin-right: 1.56rem;
    padding-left: 0.75rem;

    &::placeholder {
      color: var(--gray-3, #828282);
      font-size: 0.875rem;
      font-family: Montserrat;
    }
  }

  & button {
    width: 6.8125rem;
    height: 3.5rem;
    border-radius: 12px;
    background: #2F80ED;
    box-shadow: 0px 2px 6px 0px rgba(127, 177, 243, 0.40);
    color: #FFF;
    font-size: 0.875rem;
    font-family: Montserrat;
    font-weight: 600;
    border: none;
  }
}